<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
	<title>Pier - the AppHarbor hosted url shortener</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
</head>
<body id="body">
    <img src="/pier.png" /><br />
    <h1>Pier</h1>
    The little url shortener that could. <br />
    <form method="POST">
        <input type="text" name="longurl" id="longurl" /><br />
        <input type="submit" id="submit" value="Shorten" />
    </form>
    <br />
    Get your own free, <a href="https://github.com/aeoth/pier">personal Pier installation via GitHub</a>
</body>
</html>
